# Next.js API Connection
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# Cloudinary Pre-signed Upload Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
NEXT_PUBLIC_CLOUDINARY_PRESET=your_preset

# Stripe Public Key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
